BasedOnStyle: Google
IndentWidth: 4
Language: Cpp
AccessModifierOffset: -4
ColumnLimit: 180
# AllowShortFunctionsOnASingleLine: Inline
# DerivePointerAlignment: false
PointerAlignment: Right
# AlignAfterOpenBracket: false
# AlignArrayOfStructures: AIAS_Right
# AlignConsecutiveAssignments: false