BasedOnStyle: Google
IndentWidth: 4
Language: Cpp
AccessModifierOffset: -4
ColumnLimit: 180
# AllowShortFunctionsOnASingleLine: Inline
# DerivePointerAlignment: false
PointerAlignment: Right
Cpp11BracedListStyle: false

AlignAfterOpenBracket: false
AlignArrayOfStructures: None
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignConsecutiveShortCaseStatements:
  Enabled: false
AlignEscapedNewlines: true
AlignOperands: true
AlignTrailingComments: false
