[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib
[submodule "thirdparty/box2d"]
	path = thirdparty/box2d
	url = https://github.com/erincatto/box2d
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/libdatachannel"]
	path = thirdparty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "thirdparty/zpp_bits"]
	path = thirdparty/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "thirdparty/datachannel-wasm"]
	path = thirdparty/datachannel-wasm
	url = https://github.com/paullouisageneau/datachannel-wasm.git
[submodule "thirdparty/plog"]
	path = thirdparty/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
